<h1>Create an account</h1>

<%= form_for User.new do |f| %>
    <div class= "field">
    <%= f.label :username%>
    <%= f.text_field :username%></div>
    <div class= "field">
    <%= f.label :email%>
    <%= f.text_field :email%></div>
    <div class= "field">
    <%= f.label :password%>
    <%= f.password_field :password%></div>
    <button class= "ui button" type="submit">Submit</button>
  
    
<% end %>
</form>

 <h3>Already have an account? <%=link_to "Login", new_users_path%></h3>