<span class='banner'>
    <div class='app-name'>
        <h1>Stock Trackr</h1>
    </div>
</span>

<div class='create-account'>
  <div class="ui form">
    <h2>
        Login
    </h2>
    <div class= "field">
    <%= form_tag "/login" do %>
        <%= label :username, "username"%>
        <%= text_field_tag :username%>
        </div>
    <div class= "field">
        <%= label :password, "password"%>
        <%= password_field_tag :password%>
        </div>
        <button class="ui button green" type="submit">Login</button>
       </div> 
    <% end %>
</div>
</div>


<div class='to-signup'>
    <div class="ui massive breadcrumb">
        <h3>
            Dont have an account? 
        </h3>

        <a class="section"
            <%=link_to "signup", new_user_path%>
        </a>
            <% if flash[:notice] %>
        <div class="error">
            <%= flash.notice %>
        <% end %>
        </div>
    </div>
</div>