<div><%= link_to "Logout", logout_path %></div>



<h1><%=@company_info.company_name%></h1>

<%= form_for Company.new do |f| %>
<%= hidden_field_tag(:symbol, @company_info.symbol) %>
<button type="submit">Add Stock</button>


<%end%>
    


<p>
    <ul>
    <li>CEO: <%=@company.ceo%></li>
    <li>Symbol: <%= @company_info.symbol %></li>
    <li>Primary Exchange: <%= @company_info.primary_exchange%></li>
    <li>Website: <%=@company.website%></li>
    <li>Industry: <%=@company.industry%></li>
    </ul>
    <p><%=@company.description%></p>
    <p>Most recent stock price: $<%= @company_info.latest_price%></p>
</p>
    
    

<table>
    <tr>
    <th>Date: </th>
    <% @chart_30.each_with_index do |day, index|%>
    <td><%=day.label%></td>
    <%end%>
</tr>

<tr>
    <th>Volume: </th>
    <% @chart_30.each do |day|%>
    <td><%=day.volume%></td>
    <%end%>
</tr>
<tr>
    <th>High: </th>
    <% @chart_30.each do |day|%>
    <td>$<%=day.high%></td>
    <%end%>
</tr>

<tr>
    <th>Open: </th>
    <% @chart_30.each do |day|%>
    <td>$<%=day.open%></td>
    <%end%>
</tr>

<tr>
    <th>Close: </th>
    <% @chart_30.each do |day|%>
    <td>$<%=day.close%></td>
    <%end%>
</tr>


<tr>
    <th>SRA: </th>
    <td>$**</td>
    <td>$**</td>
    <td>$**</td>
    <td>$**</td>
    <td>$**</td>
    <% @sra.each do |sra|%>
    <td>$<%= sra %></td>
    <%end%>
</tr>
</table>
    
    

  
   
   
   
 


