<h1> Company information</h1>

<p>
    
    
    <ul>
    <p><%= @company.name %></p>
    <li>CEO: <%= @company.ceo %></li>
    <li>Website: <%= @company.website %></li>
    <li>Exchange: <%= @company.exchange %></li>
    <li>Industry: <%= @company.industry %></li>
    <li>Sector: <%= @company.sector %></li>
    <li>Company Description: <%= @company.description %></li>
    </ul>
   
 
</p>

<p> ***Stock information will go here*** </p>