<h1><%=@company_info.company_name%></h1>

<p>
    
    
    <ul>
    <li>CEO: <%=@company.ceo%></li>
    <li>Symbol: <%= @company_info.symbol %></li>
    <li>Primary Exchange: <%= @company_info.primary_exchange%></li>
    <li>Website: <%=@company.website%></li>
    <li>Industry: <%=@company.industry%></li>
    </ul>
    <p>Description: <%=@company.description%></p>
    <p>Most recent stock price: $<%= @company_info.latest_price%></p>
   
 
</p>

